{% extends 'base.html' %}

{% block title%} Dashboard {% endblock %}

{% block content %}

  <!-- Welcome -->
  <div class="row mb-2">
  
      <div class="col-lg-6 col-md-4 mb-4">
          <div class="card">
              <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="pt-6">
                  <h5 class="mb-0">Welcome to Regain K.Exo</h5>
              </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
              <p class="mb-0">Explore balance training, strengthening, aerobic activities, and auto assist on our user-friendly platform. Track progress, recovery time, and customize settings. Start your journey of mobility and a healthier lifestyle today!</p>
              </div>
          </div>
      </div>

      <div class="col-lg-6 col-md-4 mb-4">
          <div class="card">
              <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="pt-6">
                  <h5 class="mb-0">READ ME</h5>
              </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">◉ </span>It is highly encouraged to do stretching first before performing exercises.</p>
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">◉ </span>Stay hydrated before and during exercises, especially in warm environments or during prolonged sessions.</p>
              </div>
          </div>
      </div>      
  </div>

  <!-- Knee Data -->
  <div class="row mb-2">

    <div id="knee_data_container" class="row">
      <!-- Placeholders, replaced by socketio script -->
      {{ knee_data("Thigh Angle", "Loading...") }}
      {{ knee_data("Knee Angle", "Loading...") }}
      {{ knee_data("Shin Angle", "Loading...") }}
      {{ knee_data("Gait Phase", "Loading...") }}
    </div>

  <!-- Live Visualization -->
  <div class="row mb-4">

    <div class="col-lg-6 col-md-6 mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Daily Progress</h6>
          <div class="pe-2">
            <div class="chart">
              <canvas id="chart-bars" class="chart-canvas" height="297"></canvas> <!-- for some reason it needs to be 197 to match the second graph -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Live Sensor Graph</h6>
          <div class="pe-2">
            <div class="chart">
              <canvas id="chart-bars" class="chart-canvas" height="290"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
      
{% endblock %}