{% extends 'base.html' %}

{% block title%} Dashboard {% endblock %}

{% block content %}

  <!-- Welcome -->
  {% from 'macro.html' import info_box %}
  <div class="row">

    {{ info_box(
      "Welcome to Regain K.Exo",
      "Explore balance training, strengthening, aerobic activities, and auto assist on our user-friendly platform. Track progress, recovery time, and customize settings. Start your journey of mobility and a healthier lifestyle today!"
      )
    }}

    {{ info_box(
      "Important Reminders",
      "* It is highly encouraged to do stretching first before performing exercises.            
       * Stay hydrated before and during exercises, especially in warm environments or during prolonged sessions."
      )
    }}
  </div>
  
  <!-- Knee Data -->
  {% from 'macro.html' import knee_data %}
  <div>
    <div id="knee_data_container" class="row">
      <!-- Placeholders, replaced by socketio script -->
      {{ knee_data("Thigh Angle", "Loading...") }}
      {{ knee_data("Knee Angle", "Loading...") }}
      {{ knee_data("Shin Angle", "Loading...") }}
      {{ knee_data("Gait Phase", "Loading...") }}
    </div>

    <!-- socketio script, displays live sensor data -->
    <!-- 
    <script>
      const socket = io();
  
      socket.on('connect', () => {
          console.log('Connected to server');
          socket.emit('start_data_stream');
      });
  
      socket.on('knee_data', (data) => {
          console.log('Received data:', data);
          if (data) {

              // Update the knee data container div
              const kneeData = (name, value) => `
                  <div class="col knee-data-item">
                    <div class="card">
                        <div class="card-header card-footer p-4 ps-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="text-sm mb-0 text-capitalize">${name}</p>
                                    <h4 class="mb-0">${value}</h4>
                                </div>
                                <div>
                                    <i class="material-icons opacity-10">sensors</i>
                                </div>
                            </div>
                        </div>
                    </div>  
                  </div>`;
  
              // Update the knee data container
              const container = document.getElementById('knee_data_container');
              container.innerHTML = `
                  ${kneeData('Thigh Angle', `${data.pitch_thigh}°`)}
                  ${kneeData('Knee Angle', `${data.knee_angle}°`)}
                  ${kneeData('Shin Angle', `${data.pitch_shin}°`)}
                  ${kneeData('Gait Phase', `${data.gait_phase}`)}
              `;
          }
      });
    </script>
     -->   
  </div>

  <!-- Live Visualization -->
  {% from 'macro.html' import knee_chart %}
  <div class="row">
    <div id="knee_data_container" class="column">
      <!-- Placeholders, replaced by socketio script -->
      {{ knee_chart("Thigh Chart", "Loading...") }}
      {{ knee_chart("Knee Chart", "Loading...") }}
      {{ knee_chart("Shin Chart", "Loading...") }}
    </div>
  
    <!-- 
    <div class="col-lg-6 col-md-6 mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Daily Progress</h6>
          <div class="pe-2">
            <div class="chart">
              <canvas id="chart-bars" class="chart-canvas" height="290"></canvas> 
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
    
{% endblock %}