{% extends 'base.html' %}

{% block title%} Dashboard {% endblock %}

{% block content %}
  <script src="{{ url_for('static', filename='js/socket.js') }}"></script>  

  <!-- Welcome -->
  {% from 'macro.html' import info_box %}
  <div class="row">

    {{ info_box(
      "Welcome to Regain K.Exo",
      "Explore balance training, strengthening, aerobic activities, and auto assist on our user-friendly platform. Track progress, recovery time, and customize settings. Start your journey of mobility and a healthier lifestyle today!"
      )
    }}

    {{ info_box(
      "Important Reminders",
      "* It is highly encouraged to do stretching first before performing exercises.            
       * Stay hydrated before and during exercises, especially in warm environments or during prolonged sessions."
      )
    }}
  </div>
  
  <!-- Knee Data -->
  {% from 'macro.html' import knee_data %}
  <div>
    <div id="knee_data_container" class="row">
      <!-- Placeholders, replaced by socketio script -->
      {{ knee_data("Thigh Angle", "N/A") }}
      {{ knee_data("Knee Angle", "N/A") }}
      {{ knee_data("Shin Angle", "N/A") }}
      {{ knee_data("Gait Phase", "N/A") }}
    </div>

    <script src="{{ url_for('static', filename='js/live-numbers.js') }}"></script>

  </div>

  <!-- Live Visualization -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="text-sm mb-0 text-capitalize">Live Chart</p>
          <canvas id="chart-line" class="chart-canvas" height="440" style="width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='js/chart-design.js') }}"></script>
  <script src="{{ url_for('static', filename='js/live-chart.js') }}"></script>
  
{% endblock %}