{% extends 'base.html' %}

{% block title%} Dashboard {% endblock %}

{% block content %}
  <script src="{{ url_for('static', filename='js/socket.js') }}"></script>  
  {% from 'macro.html' import knee_data %}
  
  <!-- Knee Data -->
  <div>
    <div class="ms-3 mb-3">
      <h3 class="mb-0 h4 font-weight-bolder">Knee Data</h3>
    </div>
    
    <div id="knee_data_container" class="row">
      <!-- Placeholders, replaced by socketio script -->
      {{ knee_data("Thigh Angle", "N/A") }}
      {{ knee_data("Knee Angle", "N/A") }}
      {{ knee_data("Shin Angle", "N/A") }}
      {{ knee_data("Gait Phase", "N/A") }}
    </div>

    <script src="{{ url_for('static', filename='js/live-numbers.js') }}"></script>

  </div>

  <!-- Live Visualization -->
  <div class="row">

    <div class="ms-3 mb-3">
      <h3 class="mb-0 h4 font-weight-bolder">Data Chart</h3>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-line" class="chart-canvas" height="510" style="width: 100%;"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <script src="{{ url_for('static', filename='js/chart-design.js') }}"></script>
  <script src="{{ url_for('static', filename='js/live-chart.js') }}"></script>
  
{% endblock %}